/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Rye&family=Special+Elite&family=Stint+Ultra+Condensed&display=swap');

html,
body {

  background-color: chocolate;
  background-image: url("/src/images/menu.png");
  background-repeat: no-repeat;
  background-size: 100% ;
}

/* container grid */
#grid-6x7 {
  display: grid;
  grid-template-columns:
    minmax(0, 1fr) minmax(0, 1fr) minmax(0, 2fr) minmax(0, 2fr)
    minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows:
   minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)
    minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-areas:
    "header header color color color color"
    "header header color color color color"

    "left left  shirt shirt right right"
    "left left  shirt shirt right right"
    "left left  shirt shirt right right"
    "left left  shirt shirt right right"
    "left left  shirt shirt right right";
  height: 100%;
  width: 100%;
}

#drawButton {
  border: 1px solid whitesmoke;
  font-size: 15px;
  display: block;
  height: 13px;
  width: 170px;
  background-color: whitesmoke;
  padding: 2px;
  margin-bottom: 20px;
}

#img {
  width: 50px;
  height: 50px;
}
/* #dropup {
  position: relative;
  display: inline-block;
}

#dropup-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  bottom: 50px;
  z-index: 1;
}

#dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#dropup-content a:hover {
  background-color: #ccc;
}

#dropup:hover #dropup-content {
  display: block;
}

#dropup:hover #dropbtn {
  background-color: #2980b9;
} */
#grid-header {
  /* background-color: chocolate; */
  grid-area: header;
  width: 100%;
  height: 100%;
}

#grid-color {
  padding:15px;
  grid-area: color;
  width: 100%;
  height: 100%;
}

#grid-shirt {
  grid-area: shirt;
  width: 640px; /* Can be in percentage also. */
  height: 720px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  text-align: center;
  z-index:5;
}

#shirt {
  width: 95%;
  height: 100%;
  background-color: white;
  box-shadow: rgba(1, 1, 1, 1) 0px 10px 15px;
  border-radius:10px;
  border: 10px black;
  border-style: double;
 
}

#grid-left-side {
  grid-area: left;
  width: 100%;
  height: 100%;
  padding-left:50px;
}

#grid-right-side {
  grid-area: right;
  width: 100%;
  height: 100%;
  padding-right:30px;
}

#header-title {
  padding:100px 100px;
  font-family: 'Rye', cursive;
  font-size: 60px;
  color: teal;
  text-decoration: underline overline;
  text-decoration-style: double;
}

p,
#toolbar-subtitle,
#color-options {
  font-family: "Special Elite", cursive;
}

/* color menu */
/* #color-options{
  display: flex;
  justify-content: space-around;
} */

#color-buttons {
  display: flex;
  justify-content: space-between;
  font-family: "Special Elite", cursive;
  color: lightyellow;
}  

#white-btn {
  padding:3px;
  font-size:18px;
  background-image: url("/src/images/whiteshirt.png");
  height: 230px;
  width: 240px;
  background-color:chocolate;
  border-radius:10px;
  box-shadow:  -0.5em 0 .4em black;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

#black-btn {
  padding:3px;
  font-size:18px;
  background-image: url("/src/images/blackshirt.png");
  height: 230px;
  width: 240px;
  background-color:chocolate;
  border-radius:10px;
  box-shadow:  -0.5em 0 .4em black;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
#yellow-btn {
  padding:3px;
  font-size:18px;
  background-image: url("/src/images/yellowshirt.png");
  height: 230px;
  width: 240px;
  background-color:chocolate;
  border-radius:10px;
  box-shadow:  -0.5em 0 .4em black;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
#pink-btn {
  padding:3px;
  font-size:18px;
  background-image: url("/src/images/pinkshirt.png");
  height: 230px;
  width: 240px;
  background-color:chocolate;
  border-radius:10px;
  box-shadow:  -0.5em 0 .4em black;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
#mint-btn {
  padding:3px;
  font-size:18px;
  background-image: url("/src/images/mintshirt.png");
  height: 230px;
  width: 240px;
  background-color:chocolate;
  border-radius:10px;
  box-shadow:  -0.5em 0 .4em black;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

#white-btn:hover {
  background-color: sandybrown;
  top: -10px;
}
#black-btn:hover {
  background-color: sandybrown;
  top: -10px;
}
#yellow-btn:hover {
  background-color: sandybrown;
  top: -10px;
}
#pink-btn:hover {
  background-color: sandybrown;
  top: -10px;
}
#mint-btn:hover {
  background-color: sandybrown;
  top: -10px;
}
/* menu */
#menu-title {
  font-family: 'Rye', cursive;
  font-size: 70px;
  margin: 0;
  color:saddlebrown;
  font-family: 'Stint Ultra Condensed', cursive;
 
}

#menu-list{
  margin-bottom:0px;
  padding:5px;
  width:350px;
  border: 15px solid cadetblue;
  border-radius:40px;
  border-style:double;  
}
h3{
  font-size:20px;
  font-family: 'Stint Ultra Condensed', cursive;
}
h1{
  font-size:40px;
  font-family: 'Stint Ultra Condensed', cursive;
}

/*sticker-box*/
#sticker-box {
  margin: 5px;
  height: 350px;
  width: 100%;
  border-radius:10px;
  font-family: "Special Elite", cursive;
  border: 10px whitesmoke;
  border-style: double;

  padding: 10px;
  font-size: 18px;
  background-color:teal;
  box-shadow:  -0.5em 0 .4em black;

}
#sticker-box:hover {
  background-color:lightseagreen;
}
.stickers img{
  margin:1px;
  background-color: teal;
  border-radius:3px;
 
}
.stickers img:hover{
  background-color: darksalmon;
 
}

/*text-box*/
#text-box {
  margin: 5px;
  height: 170px;
  width: 100%;
  border-radius:10px;
  font-family: "Special Elite", cursive;
  border: 10px whitesmoke;
  border-style: double;


  padding: 10px;
  font-size: 18px;
  background-color:indianred;
  box-shadow:  -0.5em 0 .4em black;
  background-image: url("/src/images/tboxbackground.png");

  position: relative;
  left: 0;
  transition: top ease 0.5s;
}
#text-box:hover {
  background-color:lightsalmon;
  left: -20px;
}

/*draw-box*/
#draw-box {
  margin: 5px;
  height: 240px;
  width: 100%;
  border-radius:10px;
  font-family: "Special Elite", cursive;
  border: 10px whitesmoke;
  border-style: double;
  
  padding: 10px;
  font-size: 18px;
  background-color:goldenrod;
  box-shadow:  -0.5em 0 .4em black;
  background-image: url("/src/images/boxbackground.png");
  
  position: relative;
  left: 0;
  transition: top ease 0.5s;
}
#draw-box:hover {
  background-color:gold;
  left: -20px;
}

/*image-box*/
#image-box {
  margin: 5px;
  height: 200px;
  width: 100%;
  border-radius:10px;
  font-family: "Special Elite", cursive;
  border: 10px whitesmoke;
  border-style: double;
  
  padding: 10px;
  font-size: 18px;
  background-color:cadetblue;
  box-shadow:  -0.5em 0 .4em black;
  background-image: url("/src/images/pboxbackground.png");
  
  position: relative;
  left: 0;
  transition: top ease 0.5s;
}
#image-box:hover {
  background-color:lightseagreen;
  left: -20px;
}

